.section.my-footer {
  background: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.my-footer .logo-link {
  color: var(--additional-text-color);
}

.footer-address {
  font-style: normal;
}

.container-footer .logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address .address {
  color: var(--additional-text-color);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 9px;
}

.address-link.footer-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.container-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-active-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.actions-item-link.footer {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--additional-text-color);
  transition: color 500ms var(--timing-function);
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}
.email-input {
  margin-left: auto;
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
  }
  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  &-footer {
    min-width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
  }
}

// .footer-input {
//   position: relative;
// }

.btn-submit-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
  color: var(--additional-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}
